@import url("markup.css");
@import url("theme.css");
*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.entire-page{
	margin: 0 auto;
}
.entire-page.nikr-flex-column{
	justify-content: flex-start;
	-ms-align-items: stretch;
	align-items: stretch;
}
.header{
	width: 100%;
	-ms-align-self: stretch;
	align-self: stretch;
}
.header-container{
	padding: 15px;
	height: 80px;
}
.header-container.nikr-flex-row{
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.header-logo-container{
	width: 65px;
	height: 65px;
}
.header-logo{
	width: 100%;
	height: auto;
	filter: invert();
	display: block;
}
.header-sign-container.nikr-flex-column{
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.header-divider{
	width: 1px;
	margin: 0px 20px;
	-ms-align-self: stretch;
	align-self: stretch;
}
.sign-header-text{
	/*display: block;*/
	/*min-width: 100px;*/
	/*height: 30px;*/
}
.menu-bar{
	padding: 20px 0px;
	width: 100%;
}
.menu-bar.nikr-flex-row{
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.menu-list, .menu-list-mobile{
	list-style: none;	
	margin: 0px;
	padding: 0px;
}
.menu-bar-mobile{
	display: none;
	position: absolute;
	overflow-y: scroll;
	height: 100%;
	z-index: 1;
}
.menu-bar-mobile-trigger{
	z-index: 1;
	display: none;
	position: absolute;
	width: 35px;
	height: 35px;
}
.menu-bar-mobile-trigger.nikr-flex-column{
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding: 4px 0px;
}
.trigger-row{
	/*margin-top: 5px;
	margin-bottom: 0;
	display: inline-block;*/
	height: 4px;
	width: 80%;
}
.menu-bar-mobile::-webkit-scrollbar-track
{
	height: 0;
	width: 0;
}

.menu-bar-mobile::-webkit-scrollbar
{
	height: 0;
	width: 0;
}

.menu-bar-mobile::-webkit-scrollbar-thumb
{
	height: 0;
	width: 0;
}
.menu-bar-mobile.nikr-flex-column{
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.menu-list-mobile.nikr-flex-column{
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.menu-list-mobile li{
	margin: 10px;
	min-width: 100%;
}
.menu-element-container{
	display: inline-block;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
}
.main-content{
	padding: 0px 70px;
	padding-bottom: 70px;
	width: 100em;
  max-width: 100%;
  margin: 0 auto;
}
.main-content.nikr-flex-row{
		-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.video-content-column{
	flex: 1 1 300px;
	padding: 15px;
	/*height: 100vh;*/
}
.article-content-column{
	flex: 7 1 600px;
	padding: 15px;
}
.video-content-block{
	/*height: 400px;*/
}
.video-content-block.nikr-flex-row{
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.video-content-column .new-videos-header, .article-content-column .new-articles-header{
	margin: 15px;
	position: relative;
	padding-bottom: 20px;
}

.video-content-column .new-videos-header:before, .article-content-column .new-articles-header:before{
	content: ''; 
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0%;
}
.video-content{
	margin: 15px;
}
.video-content.nikr-flex-column{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.video-container{
	width: 100%;
	overflow: hidden;
}
.video-container.nikr-flex-column{
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.video-summary{
	margin : 10px;
}
.article-container{
	-webkit-flex: 1 1 300px;
	-moz-flex: 1 1 300px;
	-ms-flex: 1 1 300px;
	-o-flex: 1 1 300px;
	flex: 1 1 300px;
	margin: 15px;
	padding: 15px;
	position: relative;
	overflow: hidden;
}
.article-content-block .article-container{
	min-width: 45%;
}
.article-content-block.nikr-flex-row{
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.article{
	width: 100%;
}
.video-preview-img{
	display: block;
	width: 100%;
	height:  auto;
	transition: all 0.3s ;
	-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

.video-content:hover .video-preview-img{
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
}
.video-summary{
		width: 100%;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.video-summary .video-name{
	margin: 10px;
}
.article-container.nikr-flex-column{
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;	
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.article-image-container{
		width: 100%;
		margin:0 auto;
		overflow: hidden;
}
.article-image-container a{
	overflow: hidden;
	display: block;
}
.article-image{
	width: 100%;
	height: auto;	
	transition: all 0.3s ;
	position: relative;
	display: block;
	-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}
.article-container:hover .article-image{
	transform: scale(1.05);
}
.article-name{
	margin: 0;
	margin: 10px 0px;
	-ms-align-self: flex-start;
	align-self: flex-start;
	-webkit-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;
}
.article-name a , .video-name a{
	margin: 0;
	margin: 10px 0px;
	-ms-align-self: flex-start;
	align-self: flex-start;
	-webkit-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;
}
.article-container .article-summary{
	margin: 0;
}
.video-frame{
	-ms-align-self: center;
	align-self: center;
}
.article-footer{
width: 100%;	
padding: 5px 5px;
margin-top: 5px;
margin-bottom: -10px;
 position: relative;
 top: 20%;
 -webkit-transition: 	all 0.3s ease-in;
 -o-transition: 	all 0.3s ease-in;
 transition: 	all 0.3s ease-in;
}
.article-footer.nikr-flex-row{
	justify-content: space-between;
}
.article-footer .comments-container{
	width: 10%;	
}
.article-footer .comments-container.nikr-flex-row{
	justify-content: flex-start;
}
.article-container:hover .article-footer{
 top: 0%;
}
.article-footer .comments-container .comments-ico{
	width: 30px;
	height: 30px;	
	display: block;
	-ms-align-self: center;
	align-self: center;	
}
.articles-content-row{
	width: 100%;
}
.articles-content-row .article-container{
	flex: 1 1 500px;
}

.articles-content-row.nikr-flex-row{
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.article-content{
	flex: 3 1 600px;
	padding: 30px;
	margin: 5px;
}
.additional-content{
	flex: 1 1 300px;
	
}
.article-content .article-name{
	margin: 10px;
	padding-bottom: 10px;
	text-align: bottom;
}
.additional-content .additional-name{
	margin: 10px;
	padding-bottom: 10px;
	text-align: bottom;
}
.article-content .article-content-text{
	padding: 5px 15px 0px 15px;
	padding-top: 0;
}
.article-content .article-content-text li{
	margin: 15px;
	padding-top: 0;
}
.article-content .article-image{
	width: 80%;
	height: auto;
	-ms-align-self: center;
	align-self: center;
}
.article-content .article-subheader{
	margin: 10px 10px 5px 10px;
	text-align: bottom;
}
.additional-content .additional-reference{
	margin: 5px;
}
.sing-in-popup-container{
	display: none;
	position: fixed;
	top: 0%;
	min-width: 100%;
	min-height: 100%;
}
.sing-up-popup-container{
	display: none;
	position: fixed;
	top: 0%;
	min-width: 100%;
	min-height: 100%;
}

.sing-in-popup-container.nikr-flex-column , .sing-up-popup-container.nikr-flex-column{
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.sing-in-popup-form , .sing-up-popup-form{
	min-width: 30%;
}
.sing-in-popup-form div , .sing-up-popup-form div{
	/*width: 100%;*/
	padding: 10px
}
.sing-in-popup-form.nikr-flex-column , .sing-up-popup-form.nikr-flex-column{
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.sing-in-popup-form-content ,  .sing-up-popup-form-content{
	width: 100%;	
}
.sing-in-popup-form-content .nikr-flex-row , .sing-up-popup-form-content .nikr-flex-row{
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.popup-label{
	margin: 10px;
	flex-basis: 100px;
}
.sing-up-popup-form .popup-label{
	flex-basis: 145px;
}
.popup-buttons{
	margin-top: 10px;
	width: 100%;	
}
.popup-buttons .nikr-flex-row{
	justify-content: center;	
	-ms-align-items: center;
	align-items: center;	
}
.popup-ok-button{
	width: 40%;
	margin-right : 5px;
}
.popup-cancel-button{
	width: 40%;
	margin-left : 5px;
}
.popup-field{
	height: 	30px;
	flex-basis: 160px;
}
.popup-header{
	width: 100%;	
}
.popup-header.nikr-flex-row{
-ms-align-items: center;
	align-items: center;	
	justify-content: center;	
}
.scroll-to-top-container{
	position: fixed;
	bottom: 50px;
  left: 110px;
	min-width: 7%;
	height: 40px;
}
.scroll-to-top-container.nikr-flex-column{
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

}
@media screen and (max-width: 1165px) {
	.video-content-block{
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.video-content{
		flex-basis: 50px;
	}
}
@media screen and (max-width: 980px)  {
	.menu-bar{
		display: none;
	}
	
	.menu-bar-mobile , .menu-bar-mobile-trigger{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}
.nav-panel.nikr-flex-row{
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.nav-panel .video-name{
	max-width: 50%;
}
.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}