/*EAEAEA borders*/
@import url("fonts.css");
body{
	background-color: #F4F4F4;
}
.menu-bar{
	border-bottom: 1px solid rgba(160,160,160, 0.3);
	background-color: #fff;
}
.main-content{
	background-color: #F4F4F4;
}
.header-container{
	background-color: rgb(42, 130, 129);	
}
.header-logo-container{
	border-radius: 100%;
	border: 2px solid #ffffff;
}
.header-divider{
	background-color: #ffffff;
}
.header-sign-in{
	border: 1px solid #fff;
	border-right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.header-sign-up{
	border: 1px solid #fff;
	border-left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.sign-header-text{
	text-align: center;
	line-height: 150%;
	color: #fff;
	font-family: "Alegreya Sans SC";
	letter-spacing: 0.15em;
}

.editable{
	border: 1px solid red;
}
.menu-element-container{
	border-left: 0.1em solid rgba(160,160,160, 0.3);
}
.menu-element-container:first-child{
	border: 0;
}

.menu-element{
	text-decoration: none;
	color: #000;
}
.video-content{
	background-color: #fff
}
.video-content {
	border: 1px solid rgba(160,160,160, 0.3);
	cursor: pointer;
}
.video-name{
	font-family:  "RalewayBold";
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
.menu-element{
	font-family:  "Alegreya Sans SC";
	text-transform: uppercase;
	font-size: 10

}
.header-sign-container{
	font-family:  "Alegreya Sans SC";
	text-transform: uppercase;
}
.article-container{
	background-color: #fff;
	border: 1px solid rgba(160,160,160, 0.3);
}		
.article-container .article-name{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.01em;
}
.article-container .article-summary{
	font-family: 	"CleanvertisingLight";
	font-weight: bold;	
	font-size: 1em;
	letter-spacing: 0.1em;
}
.button{
	border-radius: 	0px;
	border: 0.1em solid rgba(160,160,160, 0.4);
	background: transparent;
	padding: 10px;
	-ms-align-self: center;
	align-self: center;
	font-family: 	"Exo 2";
	text-transform: uppercase;
	font-size: 1.2em;
	color: rgb(160, 160, 160);
	letter-spacing: 0.1em;
	transition: all 0.3s ease-in;
}
.button:hover{
	background: #fff;
	border: 0.1em solid rgb(42, 130, 129);
	color: rgb(42, 130, 129);
	/*color: #fff;*/
	/*border: 2px solid rgba(160,160,160, 0.5);*/
}
.video-content-block .new-videos-header,  .article-content-column .new-articles-header{
	font-family: "RalewayBold";
	font-weight: bold;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-size: 1.5em;
}
/*.video-content-block .new-videos-header{
	border-right: 1px solid rgba(160,160,160, 0.3);
}*/
/*.article-content-column .new-articles-header{
	border-left: 1px solid rgba(160,160,160, 0.3);
}*/
.video-content-block .new-videos-header:before,  .article-content-column .new-articles-header:before{
	background: rgba(160,160,160, 0.3);
}
.article-container:hover .article-name{
	color: rgb(42, 130, 129);
}
.article-footer .show-article{
	padding: 2px;
	font-size: 1em;
	letter-spacing: 0;
}
.article-footer{
	border-top: 1px solid #eaeaea
}
