/*EAEAEA borders*/
@import url("fonts.css");
body{
	background-color: #F4F4F4;
}
.menu-bar , .menu-bar-mobile{
	border-bottom: 1px solid rgba(160,160,160, 0.3);
	background-color: #fff;
}
.main-content{
	background-color: #F4F4F4;
}
.header-container{
	background-color: rgb(42, 130, 129);	
}
.header-logo-container{
	border-radius: 100%;
	border: 2px solid #ffffff;
}
.header-divider{
	background-color: #ffffff;
}
.header-sign-in{
	border: 1px solid #fff;
	border-right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius 	: 10px;
}
.header-sign-up{
	border: 1px solid #fff;
	border-left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.sign-header-text{
	text-align: center;
	line-height: 150%;
	color: #fff;
	font-family: "Alegreya Sans SC";
	letter-spacing: 0.15em;
	cursor: pointer;
}

.editable{
	border: 1px solid red;
}
.menu-element-container{
	border-left: 0.1em solid rgba(160,160,160, 0.3);
}
.menu-element-container:first-child{
	border: 0;
}

.menu-list-mobile .menu-element-container{
	border-bottom: 0.1em solid rgba(160,160,160, 0.3);
	border-left: 0;
}
.menu-list-mobile .menu-element-container:first-child{
	border-bottom: 0.1em solid rgba(160,160,160, 0.3);
}

.menu-element{
	text-decoration: none;
	color: #000;
}
.video-content{
	background-color: #fff
}
.video-content {
	border: 1px solid rgba(160,160,160, 0.3);
	cursor: pointer;
}
.video-name{
	font-family:  "RalewayBold";
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
.menu-element{
	font-family:  "Alegreya Sans SC";
	text-transform: uppercase;
	font-size: 10

}
.header-sign-container, .scroll-to-top-text{
	font-family:  "Alegreya Sans SC";
	text-transform: uppercase;
}
.scroll-to-top-text{
	color: #fff;
}
.article-container{
	background-color: #fff;
	border: 1px solid rgba(160,160,160, 0.3);
}		
.article-container .article-name{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.01em;
}
.article-container .article-name a{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1em;
	color: #000;
	text-decoration: none;
	letter-spacing: 0.01em;
}
.article-content .article-name{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.7em;
	letter-spacing: 0.02em;
	border-bottom: 1px solid rgba(160,160,160, 0.3);
}
.article-content .article-name a{
	text-decoration: none;
	color: #000;
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.7em;
	letter-spacing: 0.02em;
	border-bottom: 1px solid rgba(160,160,160, 0.3);
}
.additional-content .additional-header{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.7em;
	letter-spacing: 0.02em;
}
.article-container .article-summary{
	font-family: 	"CleanvertisingLight";
	font-weight: bold;	
	font-size: 1em;
	letter-spacing: 0.1em;
}
.button{
	border-radius: 	0px;
	border: 0.1em solid rgba(160,160,160, 0.4);
	background: transparent;
	padding: 10px;
	-ms-align-self: center;
	align-self: center;
	font-family: 	"Exo 2";
	text-transform: uppercase;
	font-size: 1.2em;
	color: rgb(160, 160, 160);
	letter-spacing: 0.1em;
	transition: all 0.3s ease-in;
}
.button:hover{
	background: #fff;
	border: 0.1em solid rgb(42, 130, 129);
	color: rgb(42, 130, 129);
	/*color: #fff;*/
	/*border: 2px solid rgba(160,160,160, 0.5);*/
}
.video-content-column .new-videos-header,  .article-content-column .new-articles-header{
	font-family: "RalewayBold";
	font-weight: bold;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-size: 1.5em;
}
/*.video-content-block .new-videos-header{
	border-right: 1px solid rgba(160,160,160, 0.3);
}*/
/*.article-content-column .new-articles-header{
	border-left: 1px solid rgba(160,160,160, 0.3);
}*/
.video-content-column .new-videos-header:before,  .article-content-column .new-articles-header:before{
	background: rgba(160,160,160, 0.3);
}
.article-container:hover .article-name{
	color: rgb(42, 130, 129);
}
.article-container:hover .article-name a{
	color: rgb(42, 130, 129);
}
.article-footer .show-article{
	padding: 2px;
	font-size: 1em;
	letter-spacing: 0;
}
.article-footer{
	border-top: 1px solid #eaeaea
}
.video-summary .video-name{
	font-size: 1em;
}
.article-container .article-name{
	cursor: pointer;
}
.article-content{
	background-color: #fff;
	border: 1px solid rgba(160,160,160, 0.3);
	padding: 5px;
	margin: 5px;
}
.additional-content{
	margin: 5px;
	padding: 5px;
background-color: #fff;
	border: 1px solid rgba(160,160,160, 0.3);	
}

.article-content .article-content-text{
	font-family: 	"CleanvertisingLight";
	font-weight: bold;	
	font-size: 1em;
	letter-spacing: 0.01em;
	word-spacing: 0.1em;
}
.article-content .article-subheader{
	font-family: "RalewayBold";
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 0.02em;
}
.additional-content .additional-reference{
	font-family: 	"CleanvertisingLight";
	font-weight: bold;	
	font-size: 1em;
	letter-spacing: 0.01em;
	word-spacing: 0.1em;
	color: rgb(42, 130, 129);
}
.sing-in-popup-container , .sing-up-popup-container{
	background-color: rgba(0, 0, 0, 0.5);
}
.sing-in-popup-form , .sing-up-popup-form{
	background-color: #F4F4F4;
}
.popup-header{
	background-color: rgb(42, 130, 129);	
}
.sing-in-popup-form , .sing-up-popup-form{
	overflow: hidden;
	border-radius: 	10px;
}
.popup-title-text{
	text-align: center;
	line-height: 150%;
	color: #fff;
	font-family: "Alegreya Sans SC";
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.popup-label{
	font-family: 	"CleanvertisingLight";
	font-weight: bold;	
	font-size: 1.2em;
	letter-spacing: 0.1em;
}
.popup-field{
	border: 1px solid;
	border-color: rgb(42, 130, 129);	
}
.sing-in-popup-container , .sing-up-popup-container{
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.scroll-to-top-container{
	display: none;
	background-color: rgba(42, 130, 129, 0.3);
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor: pointer;
}
.scroll-to-top-container:hover{
	background-color: rgba(42, 130, 129, 1);
}
.menu-bar-mobile-trigger{
	background-color: rgba(350,350,350, 1);
	border-radius: 4px;
	border: 1px solid rgba(160,160,160, 0.3);
}
.trigger-row{
	background-color:rgba(42, 130, 129, 1);
	border-radius: 2px;
}